body {
  background-color: rgb(236, 235, 235);
}
.App {
  text-align: center;
}
.poster {
  /* width: 100px; */
  height: 150px;
  display: block;
}
.film-row {
  background-color: white;
  width: 350px;
  height: 150px;
  margin-bottom: 4px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.film-summary {
  position: absolute;
  display: inline;
  font-size: 90%;
  text-align: center;
}
.section-title {
  background-color: gray;
  color: white;
  width: 350px;
  font-size: 18px;
  text-align: center;
}
.film-row-fave {
}
